body {
    background: gray;
}

#header {
    text-align: center;
    background-color: cadetblue;
}

#header-content {
    margin: 1em 20%;
    padding: 1em;
}

#header-menu {
    background-color: lightblue;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.wrappedArticle {
    background: lightgrey;
    margin: 1em;
}

.block {
    text-align: center;
    margin: 1em 20%;
    padding: 1em;
}

.blockMember {
    margin-top: 1em;
    margin-bottom: 1em;
}

.boxed {
    border: solid;
}

.submit-block {
    margin: 0.5%
}

#login-block {
    background: palevioletred;
}

#register-block {
    background: aquamarine;
}

#publish-block {
    background: lightgreen;
}

#viewTitle-block {
    background: cyan;
}

#view-block {
    background: lightskyblue;
}

#view-remove {
    background: indianred;
    margin: 1em 45%;
    padding: 0.1em;
}

#view-comments {
    background: lightgrey;
}

.comment {
    background: lightyellow;
    margin-top: 2em;
    margin-bottom: 2em;
}




.adminBlock {
    text-align: center;
    margin: 1% 30%;
    padding: 1% 4%;
}

#adminRoles-block {
    background: palevioletred;
}

#adminRolesCreate-block {
    padding-top: 1%;
}

#adminUsers-block {
    background: aquamarine;
}

.link-button {
    background: none;
    border: none;
    color: #1a0dab;
    text-decoration: underline;
    cursor: pointer;
}